<html>
	<head>
		<title>Connection Checker</title>
	</head>
	<body>
		<p>Default timeout is 5 seconds</p>
		{{if .NodeName}}
		<p>Running on {{.NodeName}}</p>
		{{end}}
		<form action="/" method="POST">
			<label for="destination">Destination (hostname/ip:port):</label><br>
			<input type="text" id="destination" name="destination">
			<input type="submit" value="Check">
		</form>

		{{if .Success}}
			<p>Successfully connected to {{.Destination}}</p>
		{{else if .Error}}
			<p>Error dialing {{.Destination}}: {{.Error}}</p>
		{{end}}
	</body>
</html>
